In [20]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from matplotlib import colors
from sympy import sieve, prime, primerange
import itertools
import pandas as pd

In [12]:
df = pd.read_csv('C:/Users/esultano/git/elliptic_curves/data/candidates.txt.result.csv', header=None)
num_curves = df.shape[0]
mat = [None]*num_curves

with open('C:/Users/esultano/git/elliptic_curves/data/candidates.txt') as f:
    for i, line in enumerate(f.readlines()):
        line = line.strip()
        curve = eval(line)
        mat[i] = [curve[0], curve[-1]]

df_conductor = pd.DataFrame(mat, columns =['conductor', 'sgn']) 

df['conductor'] = df_conductor['conductor']
df['sgn'] = df_conductor['sgn']

In [14]:
df.head()

   0  1  2      3        4         5         6     conductor  sgn
0  0  1  1  -2170   -22522  2.817892  3.125294  449000984309    1
1  1 -1  0    239    32148  3.082726  3.556700  449001315611   -1
2  0  0  1 -32540 -2259073  2.315139  2.724547  449002105613    1
3  0  1  1    288    32280  3.393803  3.742263  449002390891   -1
4  0  1  1  -2126   -20328  3.469306  3.777924  449002538981    1

In [24]:
max_conductor = df['conductor'].max()
primelist = list(sieve.primerange(1,max_conductor+1))

#df['primeidx'] = df['conductor'].apply(lambda x: sieve.search(x)[0])
df['primeidx'] = df['conductor'].apply(lambda x: primelist.index(x))

In [ ]:
df.to_csv('candidates.txt.result_primecond.csv', sep=',')